In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_keys import g_key

In [2]:
weather = "city.csv"
weather_df = pd.read_csv(weather, encoding="utf-8")
weather_df.head(50)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,dikson,73.5069,80.5464,12.31,88,100,17.72,RU,1648122229
1,cabo san lucas,22.8909,-109.9124,68.50,30,0,3.49,MX,1648122266
2,dunedin,-45.8742,170.5036,55.80,80,53,1.61,NZ,1648122557
3,rikitea,-23.1203,-134.9692,78.76,74,98,16.33,PF,1648122815
4,khatanga,71.9667,102.5000,0.77,96,100,6.40,RU,1648122815
5,punta arenas,-53.1500,-70.9167,46.51,76,0,18.41,CL,1648122815
6,talnakh,69.4865,88.3972,11.21,93,98,7.94,RU,1648122540
7,tiznit,29.5833,-9.5000,55.83,59,73,14.47,MA,1648122816
8,hithadhoo,-0.6000,73.0833,83.84,70,10,19.57,MV,1648122816
9,santa maria,-29.6842,-53.8069,69.10,94,75,4.61,BR,1648122817
10,omboue,-1.5746,9.2618,83.19,75,47,9.19,GA,1648122817
11,albany,42.6001,-73.9662,36.39,92,100,1.99,US,1648122817
12,lompoc,34.6391,-120.4579,54.12,99,100,3.44,US,1648122497
13,castro,-24.7911,-50.0119,71.80,75,25,10.65,BR,1648122219
14,acajutla,13.5928,-89.8275,80.08,75,88,4.74,SV,1648122818
15,kodiak,57.7900,-152.4072,31.80,71,67,7.11,US,1648122818
16,sitka,57.0531,-135.3300,40.89,70,75,6.91,US,1648122231
17,okhotsk,59.3833,143.3000,5.79,100,46,0.74,RU,1648122818
18,busselton,-33.6500,115.3333,70.03,42,2,9.69,AU,1648122818
19,belmonte,-15.8631,-38.8828,80.78,70,12,6.29,BR,1648122693
20,chokurdakh,70.6333,147.9167,-6.72,100,97,2.66,RU,1648122819
21,baykit,61.6700,96.3700,17.76,97,99,1.77,RU,1648122253
22,laiyang,36.9758,120.7136,49.19,65,92,13.98,CN,1648122820
23,mastic beach,40.7668,-72.8521,45.10,89,100,23.00,US,1648122820
24,avarua,-21.2078,-159.7750,80.65,83,20,6.91,CK,1648122820
25,bredasdorp,-34.5322,20.0403,77.92,38,57,13.47,ZA,1648122266
26,qaanaaq,77.4840,-69.3632,-16.24,66,31,7.70,GL,1648122820
27,nikolskoye,59.7035,30.7861,48.09,85,28,8.84,RU,1648122821
28,oeiras,-7.0253,-42.1311,73.78,95,100,3.20,BR,1648122821
29,georgetown,5.4112,100.3354,85.98,73,20,3.44,MY,1648122248
30,east london,-33.0153,27.9116,72.54,88,20,17.27,ZA,1648122822
31,kavieng,-2.5744,150.7967,81.90,80,98,12.17,PG,1648122822
32,inhambane,-23.8650,35.3833,89.58,59,20,7.00,MZ,1648122822
33,yar-sale,66.8333,70.8333,10.83,96,98,3.18,RU,1648122823
34,mount isa,-20.7333,139.5000,82.17,51,100,8.05,AU,1648122823
35,andenes,69.3143,16.1194,33.78,75,75,5.75,NO,1648122823
36,carnarvon,-24.8667,113.6333,82.47,74,100,6.91,AU,1648122552
37,alice springs,-23.7000,133.8833,81.95,42,40,5.75,AU,1648122235
38,mataura,-46.1927,168.8643,44.06,88,0,2.77,NZ,1648122824
39,vangaindrano,-23.3500,47.6000,83.14,67,11,6.96,MG,1648122825
40,racale,39.9631,18.0938,62.47,54,0,9.84,IT,1648122825
41,upernavik,72.7868,-56.1549,-2.38,68,100,4.68,GL,1648122825
42,tuktoyaktuk,69.4541,-133.0374,-22.52,97,9,7.81,CA,1648122826
43,bambous virieux,-20.3428,57.7575,85.21,83,75,6.91,MU,1648122287
44,shache,38.4167,77.2406,69.76,8,22,11.54,CN,1648122826
45,kathu,7.9178,98.3332,88.70,79,28,11.81,TH,1648122827
46,port elizabeth,-33.9180,25.5701,77.09,69,0,25.32,ZA,1648122827
47,dingle,10.9995,122.6711,79.56,79,59,7.38,PH,1648122613
48,fallon,39.4735,-118.7774,50.92,53,0,0.00,US,1648122251
49,ancud,-41.8697,-73.8203,46.44,80,10,2.68,CL,1648122491

In [3]:
gmaps.configure(api_key=g_key)

locations = weather_df[["Lat", "Lng"]].astype(float)
#weight = weather_df[["Humidity"]].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weather_df["Humidity"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
weather_df_conditional = weather_df.loc[(weather_df["Max Temp"]<80) 
                                        & (weather_df["Max Temp"]>70) 
                                        & (weather_df["Wind Speed"]<10) 
                                        & (weather_df["Cloudiness"]==0)]
weather_df_conditional = weather_df_conditional.dropna()
weather_df_conditional

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
495,palmerston,-12.486,130.9833,76.98,94,0,5.75,AU,1648122956

In [5]:
hotel_df=weather_df_conditional
hotel_df["Hotel Name"] = " "
locations = hotel_df[["Lat", "Lng"]]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
495,palmerston,-12.486,130.9833,76.98,94,0,5.75,AU,1648122956,

In [6]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [7]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))